.Logslide-enter {
    opacity: 0;
}
.Logslide-enter.Logslide-enter-active {
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
}
.Logslide-leave.Logslide-leave-active {
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    opacity: 0;
}

.Signslide-enter {
    opacity: 0;
}
.Signslide-enter.Signslide-enter-active {
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
}
.Signslide-leave.Signslide-leave-active {
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    opacity: 0;
}

.Slideshow-enter {
    opacity: 0;
}
.Slideshow-enter.Slideshow-enter-active {
    -webkit-transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    -ms-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
}
.Slideshow-leave.Slideshow-leave-active {
    -webkit-transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    -ms-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    opacity: 0;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

/* galada-regular - latin */
@font-face {
    font-family: 'Galada';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/galada-v3-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Galada Regular'), local('Galada-Regular'),
         url('../fonts/galada-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/galada-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/galada-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/galada-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/galada-v3-latin-regular.svg#Galada') format('svg'); /* Legacy iOS */
  }
/* open-sans-regular - latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v15-latin-ext-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../fonts/open-sans-v15-latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/open-sans-v15-latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/open-sans-v15-latin-ext-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/open-sans-v15-latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/open-sans-v15-latin-ext-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v15-latin-ext-600.eot'); /* IE9 Compat Modes */
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
        url('../fonts/open-sans-v15-latin-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/open-sans-v15-latin-ext-600.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/open-sans-v15-latin-ext-600.woff') format('woff'), /* Modern Browsers */
        url('../fonts/open-sans-v15-latin-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/open-sans-v15-latin-ext-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* quicksand-regular - latin-ext */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/quicksand-v7-latin-ext-regular.eot'); /* IE9 Compat Modes */
    src: local('Quicksand Regular'), local('Quicksand-Regular'),
         url('../fonts/quicksand-v7-latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/quicksand-v7-latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/quicksand-v7-latin-ext-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/quicksand-v7-latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/quicksand-v7-latin-ext-regular.svg#Quicksand') format('svg'); /* Legacy iOS */
}

@keyframes loading {
    25%  {
      border-color: #29384C transparent transparent;
      transform:rotateZ(90deg)
    }
    50%  {
      border-color: transparent #29384C transparent transparent;
      transform:rotateZ(180deg)
    }
    75%  {
      border-color: transparent transparent #29384C;
      transform:rotateZ(270deg)
    }
    100%  {
      border-color: transparent transparent transparent #29384C;
      transform:rotateZ(360deg)
    }
}
  
a {
    text-decoration: none;
    color: #E94347;
}

body {
    background-color: #EBEDF3;
}